$color-1: #dbb6f1;
$color-2: #3c0e61;
$color-3: #675EDB;
$color-4: #11610e;
$color-5: #DB74BD;
$color-6: #771c1c;
$filter-error: rgb(255, 0, 0);

$color-1-dark: #070718;
$color-2-dark: #e2a747;
$color-3-dark: #b85d09;
$color-4-dark: #91991f;
$color-5-dark: #201e1d;
$color-6-dark: #cbd62b;
$filter-error-dark: rgb(255, 0, 0);

$color-1-pastel: #F0CF91;
$color-2-pastel: #493d26;
$color-3-pastel: #4975af;
$color-4-pastel: #606e3a;
$color-5-pastel: #90BAF0;
$filter-error-pastel: rgb(255, 0, 0);

$color-1-fire: #f7af75;
$color-2-fire: #534115;
$color-3-fire: #bd3d3d;
$color-4-fire: #1d6b4c;
$color-5-fire: #4bc5b5;
$filter-error-fire: rgb(255, 0, 0);

$color-1-metal: black;
$color-2-metal: #db1515;
$color-3-metal: #490349;
$color-4-metal: #c1c424;
$color-5-metal: #303033;
$color-6-metal: #2b4de2;
$filter-error-metal: rgb(255, 0, 0);

$button-height: 30px;
$button-width: 250px;
$button-distance: 15px;
$border-width: 2px;

$timing: 0.2s !default;