$color-1: #AF69DB;
$color-2: #DBCD7F;
$color-3: #675EDB;
$color-4: #67DB53;
$color-5: #DB74BD;

@media print {
    img, figure, iframe, video, #galerie, #galerie-foto, #link-top {
        display: none;
    }

    footer {
        all: initial;
        page-break-before: always;
    }

    #grid {
        all: initial;

        >* {
            all: initial;
        }
    }
    #tabel_oferte {
        all: initial;
    }
    #faq {
        summary {
            all: initial;
        }
    }

    h1 {
        color: black;
    }
    ul.menu {
        all: initial;
        page-break-after: always;

        span.fa-house-chimney {
            display: none;
        }

        >li {
            all: initial;

            ul {
                display: none;
            }

            a {
                all: initial;
            }
        }

        ul, a {
            all: initial;
        }
    }

    body a {
        text-decoration: none;
        color: black;
    }

    #watermark {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 40vw;
        height: 10vh;

        &::after {
            display: block;
            border: 3px solid black;
            border-radius: 7em;
            color: initial;

            content: "Florian \a Luca-Paul";
            white-space: pre;
            font-weight: bold;
            opacity: 0.4;
            text-align: center;
        }
    }

    #banner {
        display: block;
        position: absolute;
        bottom: 0;
        left: 13%;
        justify-content: center;
        width: 70%;
        border: 4px inset black;
        color: initial;
        text-align: center;
        padding: 1em;

        #cookies {
            display: none;
        }
    }

    @page:left {
        margin-left: 3cm;
        margin-right: 1cm;
    }

    @page:right {
        margin-left: 1cm;
        margin-right: 3cm;
    }
}