@import "_vars.scss";

@media screen and (max-width: 1648px) {
  #oferte {
    div {
      overflow-y: hidden;
    }
  }  
}

#oferte {
  div {
    height: 99%;

    margin-top: 2%;
    margin-bottom: 2%;
  }
}

#tabel_oferte {
    width: 100%;

    caption-side: bottom;
    border: 5px inset $color-3;
    border-spacing: 0;
    text-align: center;

    tbody {
      >tr {
        outline: rgba($color-3, 0);

        &:first-child td {
          border-top: 1px solid $color-3;
        }
  
        &:nth-child(even) td {
          border-bottom: 1px solid $color-3;
        }
  
        &:nth-child(odd) td {
          border-bottom: 1px solid $color-4;
        }
  
        &:hover {
          &>td {
            border: 0;
          }
  
          outline: 5px inset rgba($color-3, 0.7);
          transition: outline 0.5s ease-in-out;
        }
      }

      >td {
        figure {
          padding: 0;
          margin: 0;
        }
      }
    }
}

