@import "_vars.scss";

#theme {
    position: fixed;
    bottom: 0.9em;
    left: 1em;
    cursor: pointer;
    color: $color-4;
    width: 0;
}


body.light {
    background-color: $color-1;
    color: $color-2;
    
    a {
        color: $color-4;

        &:hover {
            color: $color-6;
        }
    }

    p, td, th, figcaption, address, i, s, em, strong, h1, h2, h3, h4, h5{
        &::selection {
            background-color: $color-2;
            color: $color-3;
            text-shadow: -1px -2px 1px $color-5;
        }
    }

    #grid {
        > * {
            border: 5px dotted $color-3;
        }
    }

    #faq {
        summary {
            border: 2px solid $color-3;
            background-color: $color-5;
        }
    }
    
    #vids {
        iframe {
            border: 5px inset $color-3;
        }
    }
    
    .tablink {
        color: $color-2;
        background-color: $color-5;

        border-left: 7px solid $color-3;
        border-top: 2.5px solid $color-3;
        border-bottom: 2.5px solid $color-3;

        transition: color $timing*5 ease-in-out;
        transition: background-color $timing*5 ease-in-out;

        &:hover {
            color: $color-5;
            background-color: $color-3;
        }
    }

    #filter-error {
        color: $filter-error;
    }

    #prods-grid {
        article {
            border: 5px dotted $color-3;
        }

        #prod-grid {
            img {
                border: 5px inset $color-3;
            }

            table {
                border: 5px inset $color-3;
            }

            tr {
                td {
                    border-bottom: 5px inset $color-3;

                    &:nth-child(2) {
                        border-left: 5px inset $color-3;
                    }
                }
            }
        }
    }
}

nav.light {
    ul.menu {
        >li {
            border: $border-width solid $color-3;
            background-color: $color-5;
        }
    
        ul {
            background-color: $color-5;
    
            li {
                border: $border-width solid $color-3;
    
                a {
                    &::before {
                        background: linear-gradient(90deg, $color-1 0%, $color-5 100%);  
                    }
    
                    &::after {
                        background: linear-gradient(270deg, $color-1 0%, $color-5 100%);  
                    }
                }
            }
        }

        a {
            color: $color-2;
        }
    }
}

#tabel_oferte.light {
    border: 5px inset $color-3;

    tbody {
        >tr {
            outline: rgba($color-3, 0);

            &:first-child td {
                border-top: 1px solid $color-3;
            }
        
            &:nth-child(even) td {
                border-bottom: 1px solid $color-3;
            }
        
            &:nth-child(odd) td {
                border-bottom: 1px solid $color-4;
            }

            &:hover {
                &>td {
                    border: 0;
                }

                outline: 5px inset rgba($color-3, 0.7);
            }
        }
    }
}

#link-top.light {
    border-color: $color-4;

    &:hover {
        >#triangle {
            border-bottom-color: $color-2;
        }
    }

    >#triangle {
        border-bottom-color: $color-4;
        border-bottom: 1rem solid $color-4;
    }
}

#theme-picker.light {
    ul {
        border: 2px solid $color-3;
        background: $color-5;

        >li {
            border: 2px solid $color-3;

            &:first-child {
                opacity: 1;
            }
        }
    }
}

#product-table.light {
    img {
        border: 5px inset $color-3;
    }

    table {
        border: 5px inset $color-3;

        tr {
            td {
                border-bottom: 5px inset $color-3;

                &:nth-child(2) {
                    border-left: 5px inset $color-3;
                }
            }
        }
    }
}

#banner.light {
    color: $color-3;
    background: $color-2;
    border: 4px inset $color-3;

    animation-name: banner_animation_light;
}



body.dark {
    background-color: $color-1-dark;
    color: $color-2-dark;
    
    a {
        color: $color-4-dark;

        &:hover {
            color: $color-6-dark;
        }
    }

    p, td, th, figcaption, address, i, s, em, strong, h1, h2, h3, h4, h5{
        &::selection {
            background-color: $color-2-dark;
            color: $color-3-dark;
            text-shadow: -1px -2px 1px $color-5-dark;
        }
    }

    #grid {
        > * {
            border: 5px dotted $color-3-dark;
        }
    }

    #faq {
        summary {
            border: 2px solid $color-3-dark;
            background-color: $color-5-dark;
        }
    }
    
    #vids {
        iframe {
            border: 5px inset $color-3-dark;
        }
    }
    
    .tablink {
        color: $color-2-dark;
        background-color: $color-5-dark;

        border-left: 7px solid $color-3-dark;
        border-top: 2.5px solid $color-3-dark;
        border-bottom: 2.5px solid $color-3-dark;

        transition: color $timing*5 ease-in-out;
        transition: background-color $timing*5 ease-in-out;

        &:hover {
            color: $color-5-dark;
            background-color: $color-3-dark;
        }
    }

    #filter-error {
        color: $filter-error-dark;
    }

    #prods-grid {
        article {
            border: 5px dotted $color-3-dark;
        }

        #prod-grid {
            img {
                border: 5px inset $color-3-dark;
            }

            table {
                border: 5px inset $color-3-dark;
            }

            tr {
                td {
                    border-bottom: 5px inset $color-3-dark;

                    &:nth-child(2) {
                        border-left: 5px inset $color-3-dark;
                    }
                }
            }
        }
    }
}

nav.dark {
    ul.menu {
        >li {
            border: $border-width solid $color-3-dark;
            background-color: $color-5-dark;
        }
    
        ul {
            background-color: $color-5-dark;
    
            li {
                border: $border-width solid $color-3-dark;
    
                a {
                    &::before {
                        background: linear-gradient(90deg, $color-1-dark 0%, $color-5-dark 100%);  
                    }
    
                    &::after {
                        background: linear-gradient(270deg, $color-1-dark 0%, $color-5-dark 100%);  
                    }
                }
            }
        }

        a {
            color: $color-2-dark;
        }
    }
}

#tabel_oferte.dark {
    border: 5px inset $color-3-dark;

    tbody {
        >tr {
            outline: rgba($color-3-dark, 0);

            &:first-child td {
                border-top: 1px solid $color-3-dark;
            }
        
            &:nth-child(even) td {
                border-bottom: 1px solid $color-3-dark;
            }
        
            &:nth-child(odd) td {
                border-bottom: 1px solid $color-4-dark;
            }

            &:hover {
                &>td {
                    border: 0;
                }

                outline: 5px inset rgba($color-3-dark, 0.7);
            }
        }
    }
}

#link-top.dark {
    border-color: $color-4-dark;

    &:hover {
        >#triangle {
            border-bottom-color: $color-2-dark;
        }
    }

    >#triangle {
        border-bottom-color: $color-4-dark;
        border-bottom: 1rem solid $color-4-dark;
    }
}

#theme-picker.dark {
    ul {
        border: 2px solid $color-3-dark;
        background: $color-5-dark;

        >li {
            border: 2px solid $color-3-dark;

            &:first-child {
                opacity: 1;
            }
        }
    }
}

#product-table.dark {
    img {
        border: 5px inset $color-3-dark;
    }

    table {
        border: 5px inset $color-3-dark;

        tr {
            td {
                border-bottom: 5px inset $color-3-dark;

                &:nth-child(2) {
                    border-left: 5px inset $color-3-dark;
                }
            }
        }
    }
}

#banner.dark {
    color: $color-3-dark;
    background: $color-2-dark;
    border: 4px inset $color-3-dark;

    animation-name: banner_animation_dark;
}



body.pastel {
    background-color: $color-1-pastel;
    color: $color-2-pastel;
    
    a {
        color: $color-4-pastel;

        &:hover {
            color: $color-3-pastel;
        }
    }

    p, td, th, figcaption, address, i, s, em, strong, h1, h2, h3, h4, h5{
        &::selection {
            background-color: $color-2-pastel;
            color: $color-3-pastel;
            text-shadow: -1px -2px 1px $color-5-pastel;
        }
    }

    #grid {
        > * {
            border: 5px dotted $color-3-pastel;
        }
    }

    #faq {
        summary {
            border: 2px solid $color-3-pastel;
            background-color: $color-5-pastel;
        }
    }
    
    #vids {
        iframe {
            border: 5px inset $color-3-pastel;
        }
    }
    
    .tablink {
        color: $color-2-pastel;
        background-color: $color-5-pastel;

        border-left: 7px solid $color-3-pastel;
        border-top: 2.5px solid $color-3-pastel;
        border-bottom: 2.5px solid $color-3-pastel;

        transition: color $timing*5 ease-in-out;
        transition: background-color $timing*5 ease-in-out;

        &:hover {
            color: $color-5-pastel;
            background-color: $color-3-pastel;
        }
    }

    #filter-error {
        color: $filter-error-pastel;
    }

    #prods-grid {
        article {
            border: 5px dotted $color-3-pastel;
        }

        #prod-grid {
            img {
                border: 5px inset $color-3-pastel;
            }

            table {
                border: 5px inset $color-3-pastel;
            }

            tr {
                td {
                    border-bottom: 5px inset $color-3-pastel;

                    &:nth-child(2) {
                        border-left: 5px inset $color-3-pastel;
                    }
                }
            }
        }
    }
}

nav.pastel {
    ul.menu {
        >li {
            border: $border-width solid $color-3-pastel;
            background-color: $color-5-pastel;
        }
    
        ul {
            background-color: $color-5-pastel;
    
            li {
                border: $border-width solid $color-3-pastel;
    
                a {
                    &::before {
                        background: linear-gradient(90deg, $color-1-pastel 0%, $color-5-pastel 100%);  
                    }
    
                    &::after {
                        background: linear-gradient(270deg, $color-1-pastel 0%, $color-5-pastel 100%);  
                    }
                }
            }
        }

        a {
            color: $color-2-pastel;
        }
    }
}

#tabel_oferte.pastel {
    border: 5px inset $color-3-pastel;

    tbody {
        >tr {
            outline: rgba($color-3-pastel, 0);

            &:first-child td {
                border-top: 1px solid $color-3-pastel;
            }
        
            &:nth-child(even) td {
                border-bottom: 1px solid $color-3-pastel;
            }
        
            &:nth-child(odd) td {
                border-bottom: 1px solid $color-4-pastel;
            }

            &:hover {
                &>td {
                    border: 0;
                }

                outline: 5px inset rgba($color-3-pastel, 0.7);
            }
        }
    }
}

#link-top.pastel {
    border-color: $color-4-pastel;

    &:hover {
        >#triangle {
            border-bottom-color: $color-2-pastel;
        }
    }

    >#triangle {
        border-bottom-color: $color-4-pastel;
        border-bottom: 1rem solid $color-4-pastel;
    }
}

#theme-picker.pastel {
    ul {
        border: 2px solid $color-3-pastel;
        background: $color-5-pastel;

        >li {
            border: 2px solid $color-3-pastel;

            &:nth-child(2) {
                opacity: 1;
            }
        }
    }
}

#product-table.pastel {
    img {
        border: 5px inset $color-3-pastel;
    }

    table {
        border: 5px inset $color-3-pastel;

        tr {
            td {
                border-bottom: 5px inset $color-3-pastel;

                &:nth-child(2) {
                    border-left: 5px inset $color-3-pastel;
                }
            }
        }
    }
}

#banner.pastel {
    color: $color-3-pastel;
    background: $color-2-pastel;
    border: 4px inset $color-3-pastel;

    animation-name: banner_animation_pastel;
}



body.fire {
    background-color: $color-1-fire;
    color: $color-2-fire;
    
    a {
        color: $color-4-fire;

        &:hover {
            color: $color-3-fire;
        }
    }

    p, td, th, figcaption, address, i, s, em, strong, h1, h2, h3, h4, h5{
        &::selection {
            background-color: $color-2-fire;
            color: $color-3-fire;
            text-shadow: -1px -2px 1px $color-5-fire;
        }
    }

    #grid {
        > * {
            border: 5px dotted $color-3-fire;
        }
    }

    #faq {
        summary {
            border: 2px solid $color-3-fire;
            background-color: $color-5-fire;
        }
    }
    
    #vids {
        iframe {
            border: 5px inset $color-3-fire;
        }
    }
    
    .tablink {
        color: $color-2-fire;
        background-color: $color-5-fire;

        border-left: 7px solid $color-3-fire;
        border-top: 2.5px solid $color-3-fire;
        border-bottom: 2.5px solid $color-3-fire;

        transition: color $timing*5 ease-in-out;
        transition: background-color $timing*5 ease-in-out;

        &:hover {
            color: $color-5-fire;
            background-color: $color-3-fire;
        }
    }

    #filter-error {
        color: $filter-error-fire;
    }

    #prods-grid {
        article {
            border: 5px dotted $color-3-fire;
        }

        #prod-grid {
            img {
                border: 5px inset $color-3-fire;
            }

            table {
                border: 5px inset $color-3-fire;
            }

            tr {
                td {
                    border-bottom: 5px inset $color-3-fire;

                    &:nth-child(2) {
                        border-left: 5px inset $color-3-fire;
                    }
                }
            }
        }
    }
}

nav.fire {
    ul.menu {
        >li {
            border: $border-width solid $color-3-fire;
            background-color: $color-5-fire;
        }
    
        ul {
            background-color: $color-5-fire;
    
            li {
                border: $border-width solid $color-3-fire;
    
                a {
                    &::before {
                        background: linear-gradient(90deg, $color-1-fire 0%, $color-5-fire 100%);  
                    }
    
                    &::after {
                        background: linear-gradient(270deg, $color-1-fire 0%, $color-5-fire 100%);  
                    }
                }
            }
        }

        a {
            color: $color-2-fire;
        }
    }
}

#tabel_oferte.fire {
    border: 5px inset $color-3-fire;

    tbody {
        >tr {
            outline: rgba($color-3-fire, 0);

            &:first-child td {
                border-top: 1px solid $color-3-fire;
            }
        
            &:nth-child(even) td {
                border-bottom: 1px solid $color-3-fire;
            }
        
            &:nth-child(odd) td {
                border-bottom: 1px solid $color-4-fire;
            }

            &:hover {
                &>td {
                    border: 0;
                }

                outline: 5px inset rgba($color-3-fire, 0.7);
            }
        }
    }
}

#link-top.fire {
    border-color: $color-4-fire;

    &:hover {
        >#triangle {
            border-bottom-color: $color-2-fire;
        }
    }

    >#triangle {
        border-bottom-color: $color-4-fire;
        border-bottom: 1rem solid $color-4-fire;
    }
}

#theme-picker.fire {
    ul {
        border: 2px solid $color-3-fire;
        background: $color-5-fire;

        >li {
            border: 2px solid $color-3-fire;

            &:nth-child(3) {
                opacity: 1;
            }
        }
    }
}

#product-table.fire {
    img {
        border: 5px inset $color-3-fire;
    }

    table {
        border: 5px inset $color-3-fire;

        tr {
            td {
                border-bottom: 5px inset $color-3-fire;

                &:nth-child(2) {
                    border-left: 5px inset $color-3-fire;
                }
            }
        }
    }
}

#banner.fire {
    color: $color-3-fire;
    background: $color-2-fire;
    border: 4px inset $color-3-fire;

    animation-name: banner_animation_fire;
}



body.metal {
    background-color: $color-1-metal;
    color: $color-2-metal;
    
    a {
        color: $color-4-metal;

        &:hover {
            color: $color-6-metal;
        }
    }

    p, td, th, figcaption, address, i, s, em, strong, h1, h2, h3, h4, h5{
        &::selection {
            background-color: $color-2-metal;
            color: $color-3-metal;
            text-shadow: -1px -2px 1px $color-5-metal;
        }
    }

    #grid {
        > * {
            border: 5px dotted $color-3-metal;
        }
    }

    #faq {
        summary {
            border: 2px solid $color-3-metal;
            background-color: $color-5-metal;
        }
    }
    
    #vids {
        iframe {
            border: 5px inset $color-3-metal;
        }
    }
    
    .tablink {
        color: $color-2-metal;
        background-color: $color-5-metal;

        border-left: 7px solid $color-3-metal;
        border-top: 2.5px solid $color-3-metal;
        border-bottom: 2.5px solid $color-3-metal;

        transition: color $timing*5 ease-in-out;
        transition: background-color $timing*5 ease-in-out;

        &:hover {
            color: $color-5-metal;
            background-color: $color-3-metal;
        }
    }

    #filter-error {
        color: $filter-error-metal;
    }

    #prods-grid {
        article {
            border: 5px dotted $color-3-metal;
        }

        #prod-grid {
            img {
                border: 5px inset $color-3-metal;
            }

            table {
                border: 5px inset $color-3-metal;
            }

            tr {
                td {
                    border-bottom: 5px inset $color-3-metal;

                    &:nth-child(2) {
                        border-left: 5px inset $color-3-metal;
                    }
                }
            }
        }
    }
}

nav.metal {
    ul.menu {
        >li {
            border: $border-width solid $color-3-metal;
            background-color: $color-5-metal;
        }
    
        ul {
            background-color: $color-5-metal;
    
            li {
                border: $border-width solid $color-3-metal;
    
                a {
                    &::before {
                        background: linear-gradient(90deg, $color-1-metal 0%, $color-5-metal 100%);  
                    }
    
                    &::after {
                        background: linear-gradient(270deg, $color-1-metal 0%, $color-5-metal 100%);  
                    }
                }
            }
        }

        a {
            color: $color-2-metal;
        }
    }
}

#tabel_oferte.metal {
    border: 5px inset $color-3-metal;

    tbody {
        >tr {
            outline: rgba($color-3-metal, 0);

            &:first-child td {
                border-top: 1px solid $color-3-metal;
            }
        
            &:nth-child(even) td {
                border-bottom: 1px solid $color-3-metal;
            }
        
            &:nth-child(odd) td {
                border-bottom: 1px solid $color-4-metal;
            }

            &:hover {
                &>td {
                    border: 0;
                }

                outline: 5px inset rgba($color-3-metal, 0.7);
            }
        }
    }
}

#link-top.metal {
    border-color: $color-4-metal;

    &:hover {
        >#triangle {
            border-bottom-color: $color-2-metal;
        }
    }

    >#triangle {
        border-bottom-color: $color-4-metal;
        border-bottom: 1rem solid $color-4-metal;
    }
}

#theme-picker.metal {
    ul {
        border: 2px solid $color-3-metal;
        background: $color-5-metal;

        >li {
            border: 2px solid $color-3-metal;

            &:nth-child(4) {
                opacity: 1;
            }
        }
    }
}

#product-table.metal {
    img {
        border: 5px inset $color-3-metal;
    }

    table {
        border: 5px inset $color-3-metal;

        tr {
            td {
                border-bottom: 5px inset $color-3-metal;

                &:nth-child(2) {
                    border-left: 5px inset $color-3-metal;
                }
            }
        }
    }
}

#banner.metal {
    color: $color-3-metal;
    background: $color-2-metal;
    border: 4px inset $color-3-metal;

    animation-name: banner_animation_metal;
}