#banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  z-index: 99;
  color: #675EDB;
  background: #3c0e61;
  border: 4px inset #675EDB;
  animation-name: banner_animation_light;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes banner_animation_light {
  0% {
    transform: translateX(-100vw);
    background: #3c0e61;
    border: 4px inset #675EDB;
  }
  50% {
    background: #675EDB;
    border: 4px inset #3c0e61;
  }
  100% {
    transform: translateX(0);
    background: #3c0e61;
    border: 4px inset #675EDB;
  }
}
@keyframes banner_animation_dark {
  0% {
    transform: translateX(-100vw);
    background: #e2a747;
    border: 4px inset #b85d09;
  }
  50% {
    background: #b85d09;
    border: 4px inset #e2a747;
  }
  100% {
    transform: translateX(0);
    background: #e2a747;
    border: 4px inset #b85d09;
  }
}
@keyframes banner_animation_pastel {
  0% {
    transform: translateX(-100vw);
    background: #493d26;
    border: 4px inset #4975af;
  }
  50% {
    background: #4975af;
    border: 4px inset #493d26;
  }
  100% {
    transform: translateX(0);
    background: #493d26;
    border: 4px inset #4975af;
  }
}
@keyframes banner_animation_fire {
  0% {
    transform: translateX(-100vw);
    background: #534115;
    border: 4px inset #bd3d3d;
  }
  50% {
    background: #bd3d3d;
    border: 4px inset #534115;
  }
  100% {
    transform: translateX(0);
    background: #534115;
    border: 4px inset #bd3d3d;
  }
}
@keyframes banner_animation_metal {
  0% {
    transform: translateX(-100vw);
    background: #db1515;
    border: 4px inset #490349;
  }
  50% {
    background: #490349;
    border: 4px inset #db1515;
  }
  100% {
    transform: translateX(0);
    background: #db1515;
    border: 4px inset #490349;
  }
}
@media screen and (max-width: 1300px) {
  #banner {
    animation: none;
  }
}