#theme {
  position: fixed;
  bottom: 0.9em;
  left: 1em;
  cursor: pointer;
  color: #11610e;
  width: 0;
}

body.light {
  background-color: #dbb6f1;
  color: #3c0e61;
}
body.light a {
  color: #11610e;
}
body.light a:hover {
  color: #771c1c;
}
body.light p::selection, body.light td::selection, body.light th::selection, body.light figcaption::selection, body.light address::selection, body.light i::selection, body.light s::selection, body.light em::selection, body.light strong::selection, body.light h1::selection, body.light h2::selection, body.light h3::selection, body.light h4::selection, body.light h5::selection {
  background-color: #3c0e61;
  color: #675EDB;
  text-shadow: -1px -2px 1px #DB74BD;
}
body.light #grid > * {
  border: 5px dotted #675EDB;
}
body.light #faq summary {
  border: 2px solid #675EDB;
  background-color: #DB74BD;
}
body.light #vids iframe {
  border: 5px inset #675EDB;
}
body.light .tablink {
  color: #3c0e61;
  background-color: #DB74BD;
  border-left: 7px solid #675EDB;
  border-top: 2.5px solid #675EDB;
  border-bottom: 2.5px solid #675EDB;
  transition: color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
body.light .tablink:hover {
  color: #DB74BD;
  background-color: #675EDB;
}
body.light #filter-error {
  color: rgb(255, 0, 0);
}
body.light #prods-grid article {
  border: 5px dotted #675EDB;
}
body.light #prods-grid #prod-grid img {
  border: 5px inset #675EDB;
}
body.light #prods-grid #prod-grid table {
  border: 5px inset #675EDB;
}
body.light #prods-grid #prod-grid tr td {
  border-bottom: 5px inset #675EDB;
}
body.light #prods-grid #prod-grid tr td:nth-child(2) {
  border-left: 5px inset #675EDB;
}

nav.light ul.menu > li {
  border: 2px solid #675EDB;
  background-color: #DB74BD;
}
nav.light ul.menu ul {
  background-color: #DB74BD;
}
nav.light ul.menu ul li {
  border: 2px solid #675EDB;
}
nav.light ul.menu ul li a::before {
  background: linear-gradient(90deg, #dbb6f1 0%, #DB74BD 100%);
}
nav.light ul.menu ul li a::after {
  background: linear-gradient(270deg, #dbb6f1 0%, #DB74BD 100%);
}
nav.light ul.menu a {
  color: #3c0e61;
}

#tabel_oferte.light {
  border: 5px inset #675EDB;
}
#tabel_oferte.light tbody > tr {
  outline: rgba(103, 94, 219, 0);
}
#tabel_oferte.light tbody > tr:first-child td {
  border-top: 1px solid #675EDB;
}
#tabel_oferte.light tbody > tr:nth-child(even) td {
  border-bottom: 1px solid #675EDB;
}
#tabel_oferte.light tbody > tr:nth-child(odd) td {
  border-bottom: 1px solid #11610e;
}
#tabel_oferte.light tbody > tr:hover {
  outline: 5px inset rgba(103, 94, 219, 0.7);
}
#tabel_oferte.light tbody > tr:hover > td {
  border: 0;
}

#link-top.light {
  border-color: #11610e;
}
#link-top.light:hover > #triangle {
  border-bottom-color: #3c0e61;
}
#link-top.light > #triangle {
  border-bottom-color: #11610e;
  border-bottom: 1rem solid #11610e;
}

#theme-picker.light ul {
  border: 2px solid #675EDB;
  background: #DB74BD;
}
#theme-picker.light ul > li {
  border: 2px solid #675EDB;
}
#theme-picker.light ul > li:first-child {
  opacity: 1;
}

#product-table.light img {
  border: 5px inset #675EDB;
}
#product-table.light table {
  border: 5px inset #675EDB;
}
#product-table.light table tr td {
  border-bottom: 5px inset #675EDB;
}
#product-table.light table tr td:nth-child(2) {
  border-left: 5px inset #675EDB;
}

#banner.light {
  color: #675EDB;
  background: #3c0e61;
  border: 4px inset #675EDB;
  animation-name: banner_animation_light;
}

body.dark {
  background-color: #070718;
  color: #e2a747;
}
body.dark a {
  color: #91991f;
}
body.dark a:hover {
  color: #cbd62b;
}
body.dark p::selection, body.dark td::selection, body.dark th::selection, body.dark figcaption::selection, body.dark address::selection, body.dark i::selection, body.dark s::selection, body.dark em::selection, body.dark strong::selection, body.dark h1::selection, body.dark h2::selection, body.dark h3::selection, body.dark h4::selection, body.dark h5::selection {
  background-color: #e2a747;
  color: #b85d09;
  text-shadow: -1px -2px 1px #201e1d;
}
body.dark #grid > * {
  border: 5px dotted #b85d09;
}
body.dark #faq summary {
  border: 2px solid #b85d09;
  background-color: #201e1d;
}
body.dark #vids iframe {
  border: 5px inset #b85d09;
}
body.dark .tablink {
  color: #e2a747;
  background-color: #201e1d;
  border-left: 7px solid #b85d09;
  border-top: 2.5px solid #b85d09;
  border-bottom: 2.5px solid #b85d09;
  transition: color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
body.dark .tablink:hover {
  color: #201e1d;
  background-color: #b85d09;
}
body.dark #filter-error {
  color: rgb(255, 0, 0);
}
body.dark #prods-grid article {
  border: 5px dotted #b85d09;
}
body.dark #prods-grid #prod-grid img {
  border: 5px inset #b85d09;
}
body.dark #prods-grid #prod-grid table {
  border: 5px inset #b85d09;
}
body.dark #prods-grid #prod-grid tr td {
  border-bottom: 5px inset #b85d09;
}
body.dark #prods-grid #prod-grid tr td:nth-child(2) {
  border-left: 5px inset #b85d09;
}

nav.dark ul.menu > li {
  border: 2px solid #b85d09;
  background-color: #201e1d;
}
nav.dark ul.menu ul {
  background-color: #201e1d;
}
nav.dark ul.menu ul li {
  border: 2px solid #b85d09;
}
nav.dark ul.menu ul li a::before {
  background: linear-gradient(90deg, #070718 0%, #201e1d 100%);
}
nav.dark ul.menu ul li a::after {
  background: linear-gradient(270deg, #070718 0%, #201e1d 100%);
}
nav.dark ul.menu a {
  color: #e2a747;
}

#tabel_oferte.dark {
  border: 5px inset #b85d09;
}
#tabel_oferte.dark tbody > tr {
  outline: rgba(184, 93, 9, 0);
}
#tabel_oferte.dark tbody > tr:first-child td {
  border-top: 1px solid #b85d09;
}
#tabel_oferte.dark tbody > tr:nth-child(even) td {
  border-bottom: 1px solid #b85d09;
}
#tabel_oferte.dark tbody > tr:nth-child(odd) td {
  border-bottom: 1px solid #91991f;
}
#tabel_oferte.dark tbody > tr:hover {
  outline: 5px inset rgba(184, 93, 9, 0.7);
}
#tabel_oferte.dark tbody > tr:hover > td {
  border: 0;
}

#link-top.dark {
  border-color: #91991f;
}
#link-top.dark:hover > #triangle {
  border-bottom-color: #e2a747;
}
#link-top.dark > #triangle {
  border-bottom-color: #91991f;
  border-bottom: 1rem solid #91991f;
}

#theme-picker.dark ul {
  border: 2px solid #b85d09;
  background: #201e1d;
}
#theme-picker.dark ul > li {
  border: 2px solid #b85d09;
}
#theme-picker.dark ul > li:first-child {
  opacity: 1;
}

#product-table.dark img {
  border: 5px inset #b85d09;
}
#product-table.dark table {
  border: 5px inset #b85d09;
}
#product-table.dark table tr td {
  border-bottom: 5px inset #b85d09;
}
#product-table.dark table tr td:nth-child(2) {
  border-left: 5px inset #b85d09;
}

#banner.dark {
  color: #b85d09;
  background: #e2a747;
  border: 4px inset #b85d09;
  animation-name: banner_animation_dark;
}

body.pastel {
  background-color: #F0CF91;
  color: #493d26;
}
body.pastel a {
  color: #606e3a;
}
body.pastel a:hover {
  color: #4975af;
}
body.pastel p::selection, body.pastel td::selection, body.pastel th::selection, body.pastel figcaption::selection, body.pastel address::selection, body.pastel i::selection, body.pastel s::selection, body.pastel em::selection, body.pastel strong::selection, body.pastel h1::selection, body.pastel h2::selection, body.pastel h3::selection, body.pastel h4::selection, body.pastel h5::selection {
  background-color: #493d26;
  color: #4975af;
  text-shadow: -1px -2px 1px #90BAF0;
}
body.pastel #grid > * {
  border: 5px dotted #4975af;
}
body.pastel #faq summary {
  border: 2px solid #4975af;
  background-color: #90BAF0;
}
body.pastel #vids iframe {
  border: 5px inset #4975af;
}
body.pastel .tablink {
  color: #493d26;
  background-color: #90BAF0;
  border-left: 7px solid #4975af;
  border-top: 2.5px solid #4975af;
  border-bottom: 2.5px solid #4975af;
  transition: color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
body.pastel .tablink:hover {
  color: #90BAF0;
  background-color: #4975af;
}
body.pastel #filter-error {
  color: rgb(255, 0, 0);
}
body.pastel #prods-grid article {
  border: 5px dotted #4975af;
}
body.pastel #prods-grid #prod-grid img {
  border: 5px inset #4975af;
}
body.pastel #prods-grid #prod-grid table {
  border: 5px inset #4975af;
}
body.pastel #prods-grid #prod-grid tr td {
  border-bottom: 5px inset #4975af;
}
body.pastel #prods-grid #prod-grid tr td:nth-child(2) {
  border-left: 5px inset #4975af;
}

nav.pastel ul.menu > li {
  border: 2px solid #4975af;
  background-color: #90BAF0;
}
nav.pastel ul.menu ul {
  background-color: #90BAF0;
}
nav.pastel ul.menu ul li {
  border: 2px solid #4975af;
}
nav.pastel ul.menu ul li a::before {
  background: linear-gradient(90deg, #F0CF91 0%, #90BAF0 100%);
}
nav.pastel ul.menu ul li a::after {
  background: linear-gradient(270deg, #F0CF91 0%, #90BAF0 100%);
}
nav.pastel ul.menu a {
  color: #493d26;
}

#tabel_oferte.pastel {
  border: 5px inset #4975af;
}
#tabel_oferte.pastel tbody > tr {
  outline: rgba(73, 117, 175, 0);
}
#tabel_oferte.pastel tbody > tr:first-child td {
  border-top: 1px solid #4975af;
}
#tabel_oferte.pastel tbody > tr:nth-child(even) td {
  border-bottom: 1px solid #4975af;
}
#tabel_oferte.pastel tbody > tr:nth-child(odd) td {
  border-bottom: 1px solid #606e3a;
}
#tabel_oferte.pastel tbody > tr:hover {
  outline: 5px inset rgba(73, 117, 175, 0.7);
}
#tabel_oferte.pastel tbody > tr:hover > td {
  border: 0;
}

#link-top.pastel {
  border-color: #606e3a;
}
#link-top.pastel:hover > #triangle {
  border-bottom-color: #493d26;
}
#link-top.pastel > #triangle {
  border-bottom-color: #606e3a;
  border-bottom: 1rem solid #606e3a;
}

#theme-picker.pastel ul {
  border: 2px solid #4975af;
  background: #90BAF0;
}
#theme-picker.pastel ul > li {
  border: 2px solid #4975af;
}
#theme-picker.pastel ul > li:nth-child(2) {
  opacity: 1;
}

#product-table.pastel img {
  border: 5px inset #4975af;
}
#product-table.pastel table {
  border: 5px inset #4975af;
}
#product-table.pastel table tr td {
  border-bottom: 5px inset #4975af;
}
#product-table.pastel table tr td:nth-child(2) {
  border-left: 5px inset #4975af;
}

#banner.pastel {
  color: #4975af;
  background: #493d26;
  border: 4px inset #4975af;
  animation-name: banner_animation_pastel;
}

body.fire {
  background-color: #f7af75;
  color: #534115;
}
body.fire a {
  color: #1d6b4c;
}
body.fire a:hover {
  color: #bd3d3d;
}
body.fire p::selection, body.fire td::selection, body.fire th::selection, body.fire figcaption::selection, body.fire address::selection, body.fire i::selection, body.fire s::selection, body.fire em::selection, body.fire strong::selection, body.fire h1::selection, body.fire h2::selection, body.fire h3::selection, body.fire h4::selection, body.fire h5::selection {
  background-color: #534115;
  color: #bd3d3d;
  text-shadow: -1px -2px 1px #4bc5b5;
}
body.fire #grid > * {
  border: 5px dotted #bd3d3d;
}
body.fire #faq summary {
  border: 2px solid #bd3d3d;
  background-color: #4bc5b5;
}
body.fire #vids iframe {
  border: 5px inset #bd3d3d;
}
body.fire .tablink {
  color: #534115;
  background-color: #4bc5b5;
  border-left: 7px solid #bd3d3d;
  border-top: 2.5px solid #bd3d3d;
  border-bottom: 2.5px solid #bd3d3d;
  transition: color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
body.fire .tablink:hover {
  color: #4bc5b5;
  background-color: #bd3d3d;
}
body.fire #filter-error {
  color: rgb(255, 0, 0);
}
body.fire #prods-grid article {
  border: 5px dotted #bd3d3d;
}
body.fire #prods-grid #prod-grid img {
  border: 5px inset #bd3d3d;
}
body.fire #prods-grid #prod-grid table {
  border: 5px inset #bd3d3d;
}
body.fire #prods-grid #prod-grid tr td {
  border-bottom: 5px inset #bd3d3d;
}
body.fire #prods-grid #prod-grid tr td:nth-child(2) {
  border-left: 5px inset #bd3d3d;
}

nav.fire ul.menu > li {
  border: 2px solid #bd3d3d;
  background-color: #4bc5b5;
}
nav.fire ul.menu ul {
  background-color: #4bc5b5;
}
nav.fire ul.menu ul li {
  border: 2px solid #bd3d3d;
}
nav.fire ul.menu ul li a::before {
  background: linear-gradient(90deg, #f7af75 0%, #4bc5b5 100%);
}
nav.fire ul.menu ul li a::after {
  background: linear-gradient(270deg, #f7af75 0%, #4bc5b5 100%);
}
nav.fire ul.menu a {
  color: #534115;
}

#tabel_oferte.fire {
  border: 5px inset #bd3d3d;
}
#tabel_oferte.fire tbody > tr {
  outline: rgba(189, 61, 61, 0);
}
#tabel_oferte.fire tbody > tr:first-child td {
  border-top: 1px solid #bd3d3d;
}
#tabel_oferte.fire tbody > tr:nth-child(even) td {
  border-bottom: 1px solid #bd3d3d;
}
#tabel_oferte.fire tbody > tr:nth-child(odd) td {
  border-bottom: 1px solid #1d6b4c;
}
#tabel_oferte.fire tbody > tr:hover {
  outline: 5px inset rgba(189, 61, 61, 0.7);
}
#tabel_oferte.fire tbody > tr:hover > td {
  border: 0;
}

#link-top.fire {
  border-color: #1d6b4c;
}
#link-top.fire:hover > #triangle {
  border-bottom-color: #534115;
}
#link-top.fire > #triangle {
  border-bottom-color: #1d6b4c;
  border-bottom: 1rem solid #1d6b4c;
}

#theme-picker.fire ul {
  border: 2px solid #bd3d3d;
  background: #4bc5b5;
}
#theme-picker.fire ul > li {
  border: 2px solid #bd3d3d;
}
#theme-picker.fire ul > li:nth-child(3) {
  opacity: 1;
}

#product-table.fire img {
  border: 5px inset #bd3d3d;
}
#product-table.fire table {
  border: 5px inset #bd3d3d;
}
#product-table.fire table tr td {
  border-bottom: 5px inset #bd3d3d;
}
#product-table.fire table tr td:nth-child(2) {
  border-left: 5px inset #bd3d3d;
}

#banner.fire {
  color: #bd3d3d;
  background: #534115;
  border: 4px inset #bd3d3d;
  animation-name: banner_animation_fire;
}

body.metal {
  background-color: black;
  color: #db1515;
}
body.metal a {
  color: #c1c424;
}
body.metal a:hover {
  color: #2b4de2;
}
body.metal p::selection, body.metal td::selection, body.metal th::selection, body.metal figcaption::selection, body.metal address::selection, body.metal i::selection, body.metal s::selection, body.metal em::selection, body.metal strong::selection, body.metal h1::selection, body.metal h2::selection, body.metal h3::selection, body.metal h4::selection, body.metal h5::selection {
  background-color: #db1515;
  color: #490349;
  text-shadow: -1px -2px 1px #303033;
}
body.metal #grid > * {
  border: 5px dotted #490349;
}
body.metal #faq summary {
  border: 2px solid #490349;
  background-color: #303033;
}
body.metal #vids iframe {
  border: 5px inset #490349;
}
body.metal .tablink {
  color: #db1515;
  background-color: #303033;
  border-left: 7px solid #490349;
  border-top: 2.5px solid #490349;
  border-bottom: 2.5px solid #490349;
  transition: color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
body.metal .tablink:hover {
  color: #303033;
  background-color: #490349;
}
body.metal #filter-error {
  color: rgb(255, 0, 0);
}
body.metal #prods-grid article {
  border: 5px dotted #490349;
}
body.metal #prods-grid #prod-grid img {
  border: 5px inset #490349;
}
body.metal #prods-grid #prod-grid table {
  border: 5px inset #490349;
}
body.metal #prods-grid #prod-grid tr td {
  border-bottom: 5px inset #490349;
}
body.metal #prods-grid #prod-grid tr td:nth-child(2) {
  border-left: 5px inset #490349;
}

nav.metal ul.menu > li {
  border: 2px solid #490349;
  background-color: #303033;
}
nav.metal ul.menu ul {
  background-color: #303033;
}
nav.metal ul.menu ul li {
  border: 2px solid #490349;
}
nav.metal ul.menu ul li a::before {
  background: linear-gradient(90deg, black 0%, #303033 100%);
}
nav.metal ul.menu ul li a::after {
  background: linear-gradient(270deg, black 0%, #303033 100%);
}
nav.metal ul.menu a {
  color: #db1515;
}

#tabel_oferte.metal {
  border: 5px inset #490349;
}
#tabel_oferte.metal tbody > tr {
  outline: rgba(73, 3, 73, 0);
}
#tabel_oferte.metal tbody > tr:first-child td {
  border-top: 1px solid #490349;
}
#tabel_oferte.metal tbody > tr:nth-child(even) td {
  border-bottom: 1px solid #490349;
}
#tabel_oferte.metal tbody > tr:nth-child(odd) td {
  border-bottom: 1px solid #c1c424;
}
#tabel_oferte.metal tbody > tr:hover {
  outline: 5px inset rgba(73, 3, 73, 0.7);
}
#tabel_oferte.metal tbody > tr:hover > td {
  border: 0;
}

#link-top.metal {
  border-color: #c1c424;
}
#link-top.metal:hover > #triangle {
  border-bottom-color: #db1515;
}
#link-top.metal > #triangle {
  border-bottom-color: #c1c424;
  border-bottom: 1rem solid #c1c424;
}

#theme-picker.metal ul {
  border: 2px solid #490349;
  background: #303033;
}
#theme-picker.metal ul > li {
  border: 2px solid #490349;
}
#theme-picker.metal ul > li:nth-child(4) {
  opacity: 1;
}

#product-table.metal img {
  border: 5px inset #490349;
}
#product-table.metal table {
  border: 5px inset #490349;
}
#product-table.metal table tr td {
  border-bottom: 5px inset #490349;
}
#product-table.metal table tr td:nth-child(2) {
  border-left: 5px inset #490349;
}

#banner.metal {
  color: #490349;
  background: #db1515;
  border: 4px inset #490349;
  animation-name: banner_animation_metal;
}

.curPage {
  color: red;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul.menu {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.menu span.fa-house-chimney {
  opacity: 0;
}
ul.menu > li {
  height: 30px;
  line-height: 30px;
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px solid #675EDB;
  background-color: #DB74BD;
  overflow: hidden;
}
ul.menu > li ul {
  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition: transform 0.5s linear;
}
ul.menu > li:hover {
  overflow: visible;
}
ul.menu > li:hover ul {
  transform: scaleY(1);
}
ul.menu div {
  transition: font-size 0.5s linear;
}
ul.menu div:hover {
  font-size: 125%;
}
ul.menu ul {
  padding: 0;
  background-color: #DB74BD;
}
ul.menu ul li {
  height: 30px;
  width: 250px;
  margin-left: -2px;
  border: 2px solid #675EDB;
  list-style-type: none;
}
ul.menu ul li a::before {
  display: block;
  position: absolute;
  content: "";
  width: 10%;
  height: 30px;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(90deg, #dbb6f1 0%, #DB74BD 100%);
}
ul.menu ul li a::after {
  display: block;
  position: absolute;
  content: "";
  width: 10%;
  height: 30px;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition: all 0.5s ease-in-out;
  left: 90%;
  top: 0;
  background: linear-gradient(270deg, #dbb6f1 0%, #DB74BD 100%);
}
ul.menu ul li a:hover::before, ul.menu ul li a:hover::after {
  transform: scaleY(1);
}
ul.menu a {
  display: block;
  position: relative;
  height: 100%;
  text-decoration: none;
  color: #3c0e61;
}

#burger, #ch-menu {
  display: none;
}