<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Confirmare</title>
		<%- include("../fragments/head") %>
	</head>

	<body class="container">
		<%- include("../fragments/header") %>
		
		<main>	
			<h1>Confirmare mail</h1>
			<p>Totul a functionat bine!</p>
		</main>
		
		<%- include("../fragments/footer") %>
	</body>
</html>