<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragments/head.ejs") %>

        <title>Contact</title>
        <meta name="keywords" content="contact, adresă, telefon, discord">
        <meta name="description" content="Detaliile de contact ale magazinului nostru, AllMuzica.">
    </head>

    <body>
        <%- include("../fragments/header.ejs") %>

        <main>
            <p>Testinggggggggg</p>
        </main>

        <%- include("../fragments/footer.ejs")  %> 
    </body>
</html>