<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragments/head.ejs") %>

        <title>Galerie</title>
        <meta name="keywords" content="galerie, poze, imagini">
        <meta name="description" content="Galerie cu imagini">
    </head>

    <body>
        <%- include("../fragments/header.ejs") %>

        <main>
            <style>
                h2 {
                    text-align: center;
                }
            </style>
            <%- include("../fragments/galery.ejs") %> 
        </main>

        <%- include("../fragments/footer.ejs")  %> 
    </body>
</html>