<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragments/head.ejs");  %> 
        
        <title>Administrare produse</title>
        <meta name="description" content="Pagină de administrare a produselor magazinului.">
        <meta name="keywords" content="administrare, produse, sterge, adauga, modifica">
    </head>
    
    <body>
        <%- include("../fragments/header.ejs");  %> 

        <main>
            
        </main>
        
        <%- include("../fragments/footer.ejs");  %> 
    </body>
</html>