<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragments/head.ejs");  %> 

        <title>Coș virtual</title>
        <meta name="description" content="Coșul virtual de cumpărături">
        <meta name="keywords" content="coș, virtual, cumpărături, produse">

        <script type="text/javascript" src="/resources/js/virtual_cart.js"></script>
    </head>
    
    <body>
        <%- include("../fragments/header.ejs");  %> 

        <main>
            <button id="buy">Cumpără</button>
        </main>
        
        <%- include("../fragments/footer.ejs");  %> 
    </body>
</html>