<footer>
    <a href="#">Înapoi la începutul paginii.</a>
    <br>
    <address>Telefon: <a href="tel:+40683504391">+40683504391</a></address>
    <address>Adresă: <a href="https://goo.gl/maps/vnTyUP8Pcq8zaUgE9" target="_blank">România, București, Sector 5, Str. Aleea Asfaltată, nr. 45</a></address>
    <address>Email: <a href="mailto:allmuzica@email.com">allmuzica@email.com</a></address>
    <address>Discord: <a href="discord:discord.gg/allmuzica2909">discord.gg/allmuzica2909</a></address>
    <br>
    <small>
        <p>&copy; AllMuzica. Toate drepturile rezervate. 
            <br> Ultima actualizare: <time datetime="2022-10-15 14:30">15 octombire 2022, 14:30</time>
            <br>
            Stock footage provided by <a class="link author-link-popup" target="_blank" href="https://www.videvo.net/profile/videvo">Videvo</a>,
            downloaded from <a class="videvo-redirect" target="_blank" href="https://www.videvo.net">videvo.net</a>   
            <br> <%- locals.CC_BY %>
        </p>
    </small>
</footer>