<header>
    <h1>
        <span class="fa-solid fa-compact-disc"></span> 
        AllMuzica 
        <span class="fa-solid fa-compact-disc"></span>
    </h1>
</header>

<nav>
    <label for="ch-menu">
        <div id="burger">
            <div class="patty pat1"></div>
            <div class="patty pat2"></div>
            <div class="patty pat3"></div>
        </div>
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="menu">
        <li>
            <a href="index">
                <div class="home">Acasă</div>
                <span class="fa-solid fa-house-chimney"></span>
            </a>
            <ul>
                <li><a href="index#desc">Descriere</a></li>
                <li><a href="index#oferte">Oferte</a></li>
                <li><a href="index#calendar">Calendar</a></li>
                <li><a href="index#anunturi">Anunturi</a></li>
                <li><a href="index#users">Utilizatori online</a></li>
                <li><a href="index#stats">Statistici site</a></li>
                <li><a href="index#data">Date despre site</a></li>
                <li><a href="index#other">Altele</a></li>
            </ul>
        </li>
        <li><div>Produse</div>
            <ul>
                <li><a href="products">Toate</a></li>
                <% for (let categ of locals.prod_categs) { %>
                    <li><a href=<%- "products?t=" + categ.toLowerCase() %>><%- categ %></a></li> 
                <% } %>
            </ul>
        </li>
        <li><div>Despre noi</div>
            <ul>
                <li><a href="galery_pg">Galerie</a></li>
                <li><a href="history">Istoria magazinului</a></li>
                <li><a href="contact">Contact</a></li>
                <% if(locals.utilizator && locals.utilizator.rol=="admin") { %>
                    <li><a href="/useri">Useri</a></li>
                <% } %>
                <% if(locals.utilizator) { %>
                    <li><div><%- locals.utilizator.username %></div>
                        <ul>
                            <li><a href="/profil">Profil</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } %>
    
            </ul>
        </li>
        <li><a href="inregistrare">Inregistrare</a></li>
    </ul>
</nav>

<p id="banner">
    Acesta este un proiect scolar!
    <span id="cookies">
        Acceptați cookie-uri?
        <button id="banner-cookie">Ok</button>
    </span>
</p>

<a href="#" id="link-top">
    <div id="triangle" title="Înapoi la începutul paginii"></div>
</a>

<div id="theme-picker">
    <ul>
        <li id="dark"><span id="darkmode-ico" class="fa-regular fa-moon" title="Darkmode/lightmode"></span></li>
        <li id="pastel" title="Pastel"></li>
        <li id="fire" title="Fire"></li>
        <li id="metal" title="Metal"></li>
        <li id="theme-picker-ico"><span class="fa-solid fa-palette" title="Schimbă tema"></span></li>
    </ul>
</div>

<p id="watermark"></p>