<header>
    <h1>
        <span class="fa-solid fa-compact-disc"></span> 
        AllMuzica 
        <span class="fa-solid fa-compact-disc"></span>
    </h1>

    <% if(!locals.utilizator) { %>
        <form id="login_form"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
            <p>
                <label>
                    Username: <input type="text" name="username" id="inp-username" value="" required pattern="[A-Za-z0-9]+">
                </label>
            </p>
            <p>
                <label>
                    Parola: <input id="parl" type="password" required name="password" value="">
                </label>
            </p>
            <p><input type="submit" value="Logare"></p>
            <p id="eroareLogin"><%- locals.eroareLogin %></p>
        </form>
    <% } %>
</header>

<nav>
    <label for="ch-menu">
        <div id="burger">
            <div class="patty pat1"></div>
            <div class="patty pat2"></div>
            <div class="patty pat3"></div>
        </div>
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="menu">
        <li>
            <a href="/index">
                <div class="home">Acasă</div>
                <span class="fa-solid fa-house-chimney"></span>
            </a>
            <ul>
                <li><a href="/index#desc">Descriere</a></li>
                <li><a href="/index#oferte">Oferte</a></li>
                <li><a href="/index#calendar">Calendar</a></li>
                <li><a href="/index#anunturi">Anunțuri</a></li>
                <li><a href="/index#users">Utilizatori online</a></li>
                <li><a href="/index#stats">Datele utilizatorilor</a></li>
                <li><a href="/index#data">Recorduri magazin</a></li>
                <li><a href="/index#other">Altele</a></li>
            </ul>
        </li>
        <li><div>Produse</div>
            <ul>
                <li><a href="/products">Toate</a></li>
                <% for (let categ of locals.prod_categs) { %>
                    <li><a href=<%- "products?t=" + categ.toLowerCase() %>><%- categ %></a></li> 
                <% } %>
            </ul>
        </li>
        <li><div>Despre noi</div>
            <ul>
                <li><a href="/galery_pg">Galerie</a></li>
                <li><a href="/history">Istoria magazinului</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/terms_conds">Termeni și condiții</a></li>
                <li><a href="/privacy_policy" style="font-size: smaller;">Politică de confidențialitate</a></li>
            </ul>
        </li>
        
        <li><a href="/signup">Inregistrare</a></li>
        <% if(locals.utilizator) { %>
            <li><div>Logat: <%- locals.utilizator.username%></div>
                <ul>
                    <li><a href="/profile">Profil</a></li>
                    <li><a href="/deleteuser">Ștergerea contului</a></li>
                    <li><a href="/logout">Delogare</a></li>
                </ul>
            </li>
        <% } %>
        <% if(locals.utilizator && locals.obutilizator.hasPrivilege(Privileges.updateUsers)) { %>
            <li><a href="/users"><div>Utilizatori</div></a></li>
            <li><a href="/admin_bills"><div>Facturi</div></a></li>
        <% } %>

        <li><a href="/virtual_cart">Coș virtual</a></li>
    </ul>
</nav>

<p id="banner">
    Acesta este un proiect scolar!
    <span id="cookies">
        Acceptați cookie-uri?
        <button id="banner-cookie">Ok</button>
    </span>
</p>

<a href="#" id="link-top">
    <div id="triangle" title="Înapoi la începutul paginii"></div>
</a>

<div id="theme-picker">
    <ul>
        <li id="dark"><span id="darkmode-ico" class="fa-regular fa-moon" title="Darkmode/lightmode"></span></li>
        <li id="pastel" title="Pastel"></li>
        <li id="fire" title="Fire"></li>
        <li id="metal" title="Metal"></li>
        <li id="theme-picker-ico"><span class="fa-solid fa-palette" title="Schimbă tema"></span></li>
    </ul>
</div>

<p id="watermark"></p>